<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<a href="/" class="btn btn-info" style="position: fixed; top: 0">Back</a>

		<div
			class="card text-center m-auto mt-4 mb-4 border-info"
			style="width: 28rem"
		>
			<img
				src="https://www.techbooky.com/wp-content/uploads/2022/09/Blogging-Platforms.jpeg"
				class="card-img-top"
				alt="blog"
			/>
			<div class="card-body">
				<h5 class="card-title"><%= post.title%></h5>
				<% if (err){ %>

				<i><%= err['title'] %></i>
				<%}%>
				<p class="card-text"><%= post.question%></p>
				<% if (err){ %>
				<i><%= err['question'] %></i>
				<%}%> <%if(userId===post.owner._id.toString()){%>
				<form action="/editPost/<%= post._id%>" method="get">
					<button
						type="button"
						id="editbutton"
						class="btn btn-warning"
						style="width: 100%; margin-top: 55px"
						data-bs-toggle="modal"
						data-bs-target="#exampleModal"
					>
						Edit
					</button>
				</form>
				<form action="/postDelete/<%= post._id%>" method="post">
					<button
						id="deleteButton"
						style="width: 100%; margin-top: 5px"
						class="btn btn-danger"
					>
						Delete
					</button>
				</form>
				<% }%>
			</div>
			<%if(userId){%>
			<button
				class="btn btn-primary"
				type="button"
				data-bs-toggle="modal"
				data-bs-target="#commentModal"
			>
				Make a Comment
			</button>
			<%}%>
			<div class="card-footer text-muted">Last update: 3 hours ago</div>
		</div>

		<!-- OpenAI Comment -->
		<div class="row d-flex justify-content-center">
			<div class="col-md-7 col-lg-6 m-auto">
				<div class="card shadow-0 border" style="background-color: #f0f2f5">
					<div class="card-body p-4">
						<div class="card mb-4">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<p><%= post.answer%></p>
								</div>
								<div class="d-flex justify-content-between">
									<div class="d-flex flex-row align-items-center">
										<img
											src="https://seeklogo.com/images/O/open-ai-logo-8B9BFEDC26-seeklogo.com.png"
											alt="avatar"
											width="25"
											height="25"
										/>
										<p class="small mb-0 ms-2">Commented by OpenAI</p>
									</div>
									<div class="d-flex flex-row align-items-center">
										<p class="small text-muted mb-0">Upvote?</p>
										<i
											class="far fa-thumbs-up mx-2 fa-xs text-black"
											style="margin-top: -0.16rem"
										></i>
										<p class="small text-muted mb-0">3</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Comments -->
		<% if(comments){ %> <% comments.forEach((comment)=>{ %>
		<div class="row d-flex justify-content-center">
			<div class="col-md-7 col-lg-6">
				<div class="card shadow-0 border" style="background-color: #f0f2f5">
					<div class="card-body p-4">
						<div class="card mb-4">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<p><%= comment.comment%></p>
									<% if(username==comment.user) { %>
									<form
										action="/comments/delete/<%= comment._id%>"
										method="post"
									>
										<button class="btn btn-outline-danger">Delete</button>
									</form>
									<% } %>
								</div>
								<div class="d-flex justify-content-between">
									<div class="d-flex flex-row align-items-center">
										<img
											src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
											alt="avatar"
											width="25"
											height="25"
										/>
										<p class="small mb-0 ms-2">
											Commented by <%=comment.user%>
										</p>
									</div>
									<div class="d-flex flex-row align-items-center">
										<p class="small text-muted mb-0">Upvote?</p>
										<i
											class="far fa-thumbs-up mx-2 fa-xs text-black"
											style="margin-top: -0.16rem"
										></i>
										<p class="small text-muted mb-0">3</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% }) %> <% } %>

		<!-- Edit Modal -->
		<%- include("./partials/editModal.ejs") %>

		<!-- Comment Modal -->
		<%- include("./partials/commentModal.ejs") %>
	</body>
</html>
