<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

	<body
		class="d-flex flex-column justify-content-between"
		style="height: 100vh"
	>
		<nav
			class="navbar navbar-expand-lg navbar-dark justify-content-between mb-4 p-4 w-100"
		>
			<a class="navbar-brand" href="/" style="font-size: 2em"
				>Matrix Master Community</a
			>

			<ul class="navbar-nav mr-auto" style="font-size: 1.5em">
				<% if(username) {%>
				<li class="nav-item active">
					<p class="nav-link">Welcome: <i><%= username %></i></p>
				</li>

				<li class="nav-item active">
					<a href="/profile/<%=userId%>" class="nav-link">Profile</a>
				</li>
				<li class="nav-item active">
					<a href="/logout" class="nav-link">Logout</a>
				</li>

				<% } else {%>
				<li class="nav-item active">
					<a href="/login" class="nav-link">Login</a>
				</li>
				<li class="nav-item active">
					<a href="/signup" class="nav-link"> Sign up </a>
					<%}%>
				</li>
			</ul>
		</nav>

		<form
			action="/changepassword/<%=userId%>"
			method="post"
			class="border border-primary w-50 m-auto p-4"
		>
			<div class="form-group row">
				<label for="staticUsername" class="col-sm-2 col-form-label"
					>Username</label
				>
				<div class="col-sm-10">
					<input
						type="text"
						readonly
						class="form-control-plaintext"
						id="staticUsername"
						value="<%=user1.username%>"
					/>
				</div>
				<% if(err) { %>
				<i><%= err.username %></i>
				<% } %>
			</div>
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input
						type="text"
						readonly
						class="form-control-plaintext"
						id="staticEmail"
						value="<%=user1.email%>"
					/>
				</div>
				<% if(err) { %>
				<i><%= err.email %></i>
				<% } %>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label"
					>Password</label
				>
				<div class="col-sm-10">
					<input
						type="text"
						readonly
						class="form-control-plaintext"
						id="inputPassword"
						value="*********"
					/>
				</div>
			</div>

			<div class="form-group row">
				<label for="password" class="col-sm-2 col-form-label"
					><b>New password</b></label
				>
				<div class="col-sm-10">
					<input
						type="password"
						name="password"
						id="password"
						class="form-control"
					/>
				</div>
			</div>
			<div class="form-group row">
				<label for="confirmPassword" class="col-sm-2 col-form-label"
					><b>Confirm password</b></label
				>
				<div class="col-sm-10">
					<input
						type="password"
						name="confirmPassword"
						id="confirmPassword"
						class="form-control"
					/>
				</div>
			</div>
			<% if(message) { %>
			<p class="text-center text-danger"><%= message %></p>
			<% } %> <% if(err) { %>
			<p class="text-center text-danger"><%= err.password %></p>
			<% } %>

			<button
				type="submit"
				class="btn btn-primary"
				style="width: -webkit-fill-available"
			>
				Change Password
			</button>
		</form>

		<div class="text-center mt-4"><%- include("./partials/footer.ejs") %></div>
	</body>
</html>
